@import url(https://fonts.google.com/specimen/Barlow);

body {
    font-family: 'Barlow';
}

.hero-banner-text {
    font-family: "Barlow", sans-serif;
    z-index: 5;
    padding-left: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.hero-banner-title {
    font-family: "Barlow", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 3rem;
    line-height: 3.5rem;
}

.hero-banner__media-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
}

@media only screen and (max-width: 63.9375em) {
    .hero-banner__media-container {
        overflow: hidden;
    }
}

.hero-banner__media-wrapper {
    z-index: 3;
    width: 100%;
    clip-path: url("#hero-banner__media-mask");
}

@media only screen and (max-width: 63.9375em) {
    .hero-banner__media-wrapper {
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

.hero-banner__media-mask-wrapper {
    height: 0;
}

.hero-banner__image {
    display: block;
    max-height: 26.75rem;
    width: 100%;
    aspect-ratio: 2;
    object-fit: cover;
}

.nl-footer {
    background-image: url("bgfoo.svg");
    background-size: cover;
}

.footlogo {
    width: 30px;
}

.nl-footer-inn {
    background-image: url("fooinn.svg");
    background-size: cover;
    height: auto;
}

.vl {
    border-left: 1px solid white;
    height: 40px;
}

.search-results {
    margin-top: 40px;
    right: 0;
    margin-right: 20px;
}

.raborder {
    border-bottom: 6px solid #BD1982;
}

.cardheaderbg {
    background: linear-gradient(55deg, #cd163f 29%, #f58025 76%);
    background-size: cover;
}

.cardimagetopsize {
 width: 230px;
}

.cardimagesize {
    width: 120px;
}
